[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "aniSNA"]
	path = aniSNA
	url = https://github.com/cran/aniSNA
	shallow = true
	registered = true
